<div data-extend-template="/layouts/main.html">
  <div data-block="content">
    <div cg-busy="{promise:busyPromise,message:'Carregando',backdrop:true}"></div>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="pad in pads" ng-mouseenter="pad.showRemove = true" ng-mouseleave="pad.showRemove = false">
        <a ng-href="#/pads/{{pad.id}}">
          <span ng-click="removePad(pad); $event.preventDefault();" ng-show="pad.showRemove" class="btn btn-xs btn-danger pull-right">X</span>
          {{pad.title}}
        </a>
      </li>
    </ul>

    <form ng-submit="createPad()">
      <input ng-model="newPadTitle" type="text"/>
      <button>Criar Novo</button>
    </form>
  </div>
</div>
