<div data-extend-template="/layouts/main.html">
  <div data-block="content">
    <div cg-busy="{promise:busyPromise,message:'Carregando',backdrop:true}"></div>

    <h2>{{pad.title}}</h2>
    <div class="panel">
      <div class="panel-body">
        <div ng-repeat="block in pad.blocks" class="block">
          <i class="fa fa-times-circle-o removeBlock" ng-click="removeBlock($index)"></i>
          <div ng-switch="block.type">
            <div medium-editor ng-switch-when="text" ng-model="block.content"></div>
            <code-block ng-switch-default block="block" on-evaluate="evaluate" supported-languages="supportedLanguages"></code-block>
          </div>
        </div>
        
        <div class="btn-group">
          <button class="btn btn-default" ng-click="addBlock(lang)" ng-repeat="lang in supportedLanguages">+ {{lang}}</button>
          <button class="btn btn-default" ng-click="addBlock('text')">+ texto</button>
        </div>
      </div>

      <div class="panel-footer text-right">
        <button class="btn btn-primary" ng-click="updatePad()">Save</button>
      </div>
    </div>

  </div>
</div>
